/* Forms layout */
.formContainer {
  border: 5px solid #ebebeb;
  width: auto;
  padding: 1.5em;
  margin-bottom: 2em;
  display: flex;
  flex-direction: column;
  margin: 1.2rem;
  align-items: center;
  justify-content: center;
}

form {
  position: relative;
  width: 600px;
  height: 100%;
  padding: 50px 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding-top: 50px;
}

input {
  display: block;
  width: 100%;
  margin-top: 5px;
  font-size: 16px;
  padding-bottom: 5px;
  border: none;
  border-bottom: thin solid rgba(109, 93, 93, 0.4);
  background: none;
  text-align: center;
}

.optionBox {
  display: block;
  position: relative;
  margin-bottom: 12px;
  cursor: pointer;
}

.optionBox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.optionBox:hover input ~ .checkmark {
  background-color: #ccc;
}
.optionBox input:checked ~ .checkmark {
  background-color: #1792d2;
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.optionBox input:checked ~ .checkmark:after {
  display: block;
}
.optionBox .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

button {
  display: block;
  margin-top: 50px;
  width: 260px;
  height: 50px;
  border-radius: 30px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  border: none;
}

.submit {
  text-transform: uppercase;
  font-weight: 600;
  background: #143774;
}

.submit:hover {
  background: #1792d2;
}
.submit:active {
  transform: scale(0.95);
}

/* General formatting */
body {
  margin: 0;
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  color: black;
  font-size: 1.125rem;
  line-height: 2;
}

h1,
h2,
h3 {
  color: #143774;
  font-weight: 300;
  margin-top: 0;
  font-weight: bold;
}

label {
  font-size: 16px;
  font-weight: bold;
  color: #1792d2;
  text-transform: uppercase;
  text-align: center;
  display: block;
  width: 300px;
  margin: 25px auto 0;
}

span {
  font-weight: bold;
}

a {
  text-decoration: none;
  color: #1792d2;
}
a:hover {
  color: #143774;
}
/* Header and Footer */
header {
  text-align: center;
  background: #f8f8f8;
  margin-bottom: 1em;
  padding: 1.5em;
}

.container-header {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  width: 96%;
  margin: 0 auto;
  max-height: 120px;
}
footer {
  background: #143774;
}

.middle-footer {
  margin-left: 4.2em;
}

.footer-container {
  color: rgba(255, 255, 255, 0.65);
  padding: 1em;
  padding-left: 2em;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  margin: 0 auto;
}

.footer-title {
  font-weight: 700;
  color: #f8f8f8;
}

.footer-title,
.footer-copyright {
  margin: 0;
}

.footer-mail {
  color: rgba(255, 255, 255, 0.65);
}

.footer-mail:hover {
  color: #f8f8f8;
}

/* Logo */
.logo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  max-height: 100px;
  padding: 1rem;
  max-width: 100px;
  display: table-cell;
}

.subtitle {
  color: #1792d2;
  text-transform: uppercase;
  margin-top: 0;
  font-size: 0.85rem;
  font-weight: 700;
  letter-spacing: 2px;
}

/* Navigation tabs */
nav {
  width: 40%;
  max-width: 700px;
}

.nav-ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 3em;
  position: absolute;
  top: 0px;
  white-space: nowrap;
}

nav ul li {
  float: left;
  list-style: none;
  position: relative;
}

nav ul li a {
  display: block;
  padding: 24px 14px;
  text-decoration: none;
}

nav ul li ul {
  display: none;
  position: absolute;
  background: #ebebeb;
  padding-right: 20px;
  padding-left: 10px;
  text-align: left;
  border-radius: 0px 0px 4px 4px;
}

nav ul li:hover ul {
  display: block;
}

nav ul li ul li {
  width: 180px;
  border-radius: 4px;
}

nav ul li ul a {
  padding: 20px 14px;
}

nav ul li ul a:hover {
  background-color: none;
  color: #1792d2;
}

.nav-li {
  margin: 3.5em;
}

.nav-a {
  color: #707070;
  font-size: 1rem;
  font-weight: 700;
  padding: 0.2em;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.nav-a:hover {
  color: #1792d2;
}
.current-page {
  border-bottom: 1px solid #707070;
}
.current-page:hover {
  color: #707070;
  cursor: default;
}

/* Image preview in Form */

.imagePreview {
  width: 300px;
  min-height: 100px;
  border: 2px solid #dddddd;
  margin-top: 15px;
  /* Font text */
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: #cccccc;
}

.imagePreviewSample {
  display: none;
  width: 100%;
}

/* Practioner directory Table */
table {
  border-collapse: collapse;
  border: 5px solid #ebebeb;
  table-layout: fixed;
  width: 90%;
  margin: 5% auto;
}
td,
th {
  padding: 10px;
  border: 5px solid #707070;
  text-align: center;
  word-wrap: break-word;
}
