/* Typography */

body {
    margin:0;
    font-family: 'lato','sans-serif';  
    font-size:18px;
    color:#2e354f;
  }
  
  h1,
  h2,
  strong {
      font-weight:900;    
  }
  
  h1 {
      font-size:36px;
      margin:0;
  }
  
  h2 {
      font-size:24px;    
      color:#ef5839;
  }
  
  /* Buttons */
  
  .btn {
      margin-right:15px;
      padding:7px 18px;
      display:inline-block;
  }
  
  .btn:hover, 
  .btn:focus{
      background:black;
      color:white;
      text-decoration: none;
      font-weight:400;
  }
  
  .btn-orange {
      background:#ef5839;
      color:white;
  }
  
  .btn-white {
      background:white;
      color:#2e354f;
  }
  
  /* Layout */
  
  header{
      background:#2e354f;
      color:white;
      padding:45px 0px;
  }
  
  section {
      padding: 45px 0px;
  }
  
  .sec-two {
      background:#2e354f;
      color:white;
  }
  .container {
      width:620px;
      margin:0 auto;
  }
  
  .final-elem{
      margin-bottom:0;
  }
  
  /* Links */
  
  a{
   text-decoration: none;
   color:#ef5839;   
  }
  
  a:hover, 
  a:focus {
      text-decoration:underline;
      font-weight:900;
  }
  
  