*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Nunito", sans-serif;
  border-radius: 50%;
}

input,
button {
  border: none;
  background: none;
}

select {
  display: block;
  margin: 0 auto;
  border: none;
  background: none;
  width: 300px;
  text-align: center;
  padding-top: 15px;
}

/* Primary contents styling */
.cont {
  overflow: hidden;
  position: relative;
  width: 900px;
  height: 850px;
  background: white;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  border-radius: 15px;
}

.form {
  position: relative;
  width: 600px;
  height: 100%;
  padding: 50px 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  -webkit-transition: -webkit-transform 1s ease-in-out;
  transition: -webkit-transform 1s ease-in-out;
  transition: transform 1s ease-in-out;
  transition: transform 1s ease-in-out, -webkit-transform 1s ease-in-out;
}

h2 {
  width: 100%;
  font-size: 30px;
  text-align: center;
}

h3 {
  padding-top: 25px;
  font-size: 18px;
  text-align: center;
}

label {
  display: block;
  width: 300px;
  margin: 25px auto 0;
  text-align: center;
}

label span {
  font-size: 16px;
  font-weight: bold;
  color: #505f75;
  text-transform: uppercase;
}

input {
  display: block;
  width: 100%;
  margin-top: 5px;
  font-size: 16px;
  padding-bottom: 5px;
  border-bottom: thin solid rgba(109, 93, 93, 0.4);
  text-align: center;
  font-family: "Nunito", sans-serif;
}

button {
  display: block;
  margin: 0 auto;
  width: 260px;
  height: 50px;
  border-radius: 30px;
  color: white;
  font-size: 20px;
  cursor: pointer;
}

.submit {
  margin-top: 40px;
  margin-bottom: 30px;
  text-transform: uppercase;
  font-weight: 600;
  font-family: "Nunito", sans-serif;
  background: #ef5839;
  transition: 0.5s;
}

.submit:hover {
  transition: 0.5s;
  background: #ef5839;
}

.submit:active {
  transform: scale(0.95);
}

/* To do later, for forget password - not sure if needed */
.forgot-pass {
  margin-top: 15px;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  color: white;
  cursor: pointer;
}

.forgot-pass:hover {
  color: red;
}

/* Created a seperated overlay piece, to transition - not the best way to do it */
.sub-cont {
  overflow: hidden;
  position: absolute;
  left: 640px;
  top: 0;
  width: 900px;
  height: 100%;
  padding-left: 300px;
  background: #fff;
  -webkit-transition: -webkit-transform 1s ease-in-out;
  transition: -webkit-transform 1s ease-in-out;
  transition: transform 1s ease-in-out;
}

.cont.s-signup .sub-cont {
  -webkit-transform: translate3d(-640px, 0, 0);
  transform: translate3d(-640px, 0, 0);
}

/* Overlay panel animation and styling */
.img {
  overflow: hidden;
  z-index: 2;
  position: absolute;
  left: 0;
  top: 0;
  width: 260px;
  height: 100%;
  padding-top: 360px;
}

.img:before {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 900px;
  height: 100%;
  background-image: url(images/bg.jpg);
  background-size: cover;
  transition: -webkit-transform 1s ease-in-out;
  transition: transform 1s ease-in-out, -webkit-transform 1s ease-in-out;
}

.img:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
}

.cont.s-signup .img:before {
  -webkit-transform: translate3d(640px, 0, 0);
  transform: translate3d(640px, 0, 0);
}

.img-text {
  z-index: 2;
  position: absolute;
  left: 0;
  top: 50px;
  width: 100%;
  padding: 0 20px;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  color: #2e354f;
  -webkit-transition: -webkit-transform 1s ease-in-out;
  transition: -webkit-transform 1s ease-in-out;
  transition: transform 1s ease-in-out, -webkit-transform 1s ease-in-out;
}

.img-text h2 {
  margin-bottom: 10px;
  font-weight: bold;
}

.img-text p {
  font-size: 14px;
  line-height: 1.5;
}

.cont.s-signup .img-text.m-up {
  -webkit-transform: translateX(520px);
  transform: translateX(520px);
}

.img-text.m-in {
  -webkit-transform: translateX(-520px);
  transform: translateX(-520px);
}

.cont.s-signup .img-text.m-in {
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

.sign-in {
  padding-top: 80px;
  vertical-align: middle;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.cont.s-signup .sign-in {
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  -webkit-transition-duration: 1.2s;
  transition-duration: 1.2s;
  -webkit-transform: translate3d(640px, 0, 0);
  transform: translate3d(640px, 0, 0);
}

.img-btn {
  overflow: hidden;
  z-index: 2;
  position: relative;
  width: 130px;
  height: 50px;
  margin: 0 auto;
  background: transparent;
  color: #2e354f;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

.img-btn:active {
  transform: scale(0.95);
}

.img-btn:after {
  content: "";
  z-index: 2;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border: 2px solid #2e354f;
  border-radius: 30px;
}

.img-btn span {
  position: absolute;
  left: 0;
  top: 0;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}

.img-btn span.m-in {
  -webkit-transform: translateY(-72px);
  transform: translateY(-72px);
}

.cont.s-signup .img-btn span.m-in {
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

.cont.s-signup .img-btn span.m-up {
  -webkit-transform: translateY(72px);
  transform: translateY(72px);
}

.sign-up {
  -webkit-transform: translate3d(-900px, 0, 0);
  transform: translate3d(-900px, 0, 0);
}

.cont.s-signup .sign-up {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

/* Error messsage */
.form.error input {
  border-color: #e74c3c;
}

.form small {
  color: #e74c3c;
  visibility: hidden;
}

.form.error small {
  visibility: visible;
}
