<!DOCTYPE html>
<html>
    <head>
        <link href="https://fonts.googleapis.com/css?family=Lora|Ubuntu:300,400,700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="css/styles.css">
    </head>
    <body> 
      <header>
          <div class="container container-header">
              <div class="title">
                  <h1 class="title-heading">Living the simple life</h1>
                  <p class="subtitle">A blog exploring minimalism in life</p>  
              </div>
              <nav>
                  <ul class="nav-ul">
                      <li class="nav-li"><a class="nav-a" href="index.html">Home</a></li>
                      <li class="nav-li"><a class="nav-a" href="about-me.html">About Me</a></li>
                      <li class="nav-li"><a class="nav-a current-page" href="#">Recent Posts</a></li>
                  </ul>
              </nav>
          </div>
      </header>

      <div class="container container-content">
            <main>
                <article class="article-recent">
                    <div class="article-recent-body">
                        <h2 class="article-subtitle">Finding simplicity in life</h2>
                        <p class="article-body"><strong>Life can get complicated really quickly</strong>, but it doesn't have to be! There are many ways to simplify your life, a <a class="def-line" href="#">few of which we've explored in the past</a>. This week we're taking a bit of a approach though, in how you can find simplicity in the life you already living. </p>
                        <a href="#" class="subtitle">Continue Reading</a>       
                    </div>
                    <div class="article-info-section">
                        <img src="img/life.jpg" class="article-image-recent" alt="a deco"/>
                        <p class="article-info">July 19, 2019  |  3 comments</p>
                    </div>
                </article>

                <article class="article-recent">
                    <div class="article-recent-body">
                        <h2 class="article-subtitle">Keeping cooking simple</h2>
                        <p class="article-body">Food is a very important part of everyone's life. If you want to be healthy, you have to eat healthy. One of the easiest ways to do that is to keep your cooking nice and simple. </p>
                        <a href="#" class="subtitle">Continue Reading</a>       
                    </div>
                    <div class="article-info-section">
                        <img src="img/food.jpg" class="article-image-recent" alt="a deco"/>
                        <p class="article-info">July 19, 2019  |  3 comments</p>
                    </div>
                </article>

                <article class="article-recent">
                    <div class="article-recent-body">
                        <h2 class="article-subtitle">Simplicity and work</h2>
                        <p class="article-body">Work is often a major source of stress. People get frustrated, it ruins their relationship with others and it leads to burnout. By keeping your work life as simple as possible, it will help balance everything out. </p>
                        <a href="#" class="subtitle">Continue Reading</a>       
                    </div>
                    <div class="article-info-section">
                        <img src="img/work.jpg" class="article-image-recent" alt="a deco"/>
                        <p class="article-info">July 12, 2019  |  3 comments</p>
                    </div>
                </article>
            
                <article class="article-recent">
                    <div class="article-recent-body">
                        <h2 class="article-subtitle">Simple decorations</h2>
                        <p class="article-body">A home isn't a home until you've decorated a little. People either don't decorate, or they go overboard and it doesn't have the impact they were hoping for. Staying simple will help draw the eye where you want it to and make things pop like never before. </p>
                        <a href="#" class="subtitle article-a">Continue Reading</a>       
                    </div>
                    <div class="article-info-section">
                        <img src="img/deco.jpg" class="article-image-recent decop" alt="a deco"/>
                        <p class="article-info">July 3, 2019  |  3 comments</p>
                    </div>
                </article>
            </main>
            <aside class="sidebar">
                <div class="sidebar-div">
                    <h2 class="sidebar-title">About me</h2>
                    <img src="img/about-me.jpg" class="sidebar-image-ab" alt="a human with long hair"/>
                    <p class="sidebar-body">I find life better, and I'm happier, when things are nice and simple.</p>
                    
                </div>
                <div class="sidebar-div">
                    <h2 class="sidebar-title">Recent Posts</h2>  
                    <div class="sidebar-recent-post">
                        <h2 class="sidebar-subtitle">Keeping cooking simple</h2> 
                        <img src="img/food.jpg" class="sidebar-image" alt="a deco"/>
                    </div>
                    <div class="sidebar-recent-post">
                        <h2 class="sidebar-subtitle">Simplicity and work</h2> 
                        <img src="img/work.jpg" class="sidebar-image" alt="a deco"/>
                    </div>
                    <div class="sidebar-recent-post">
                        <h2 class="sidebar-subtitle">Simple decorations</h2> 
                        <img src="img/deco.jpg" class="sidebar-image" alt="a deco"/>
                    </div>
                </div>        
            </aside>
        </div>
        <footer>
            <p class="footer-title">Living the simple life</p>
            <p class="footer-copyright">Copyright 2019</p>
        </footer>
    </body>
</html>

