<!DOCTYPE html>
<html>
    <head>
        <title>Become a BBQ master</title>
        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,900&display=swap" rel="stylesheet">
        <link href="./css/styles.css" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="intro">
            <div class="container intro-container">
                <h1>Learn how to make <strong>the best BBQ ribs</strong> in town</h1>
                <p>Join us for this live webinar</p>
                <p class="top-text">Mouthwateringly delicious</p>
            </div>
        </div>
        <div class="main-section">
                <div class="container container-main-section">
                    <h2>Become a BBQ master! </h2>
                    <p>Register Today</p>
                    <p>BBQ isn't just standing in front of your grill with it on full blast and hoping for the best. It's an art! One way to speed up the process is to learn from the best. You can do just that by signing up for this free webinar!</p>
                    
                     <form id="email-collector"> 
                        <input aria-label="first name" type="text" name="name" required placeholder="first name" />
                        <input aria-label="email" type="email" name="email" required placeholder="email" />
                        <button class="btn btn-email-collector" type="submit">Register</button>
                    </form>

                    <p class="foot-note">We'll never share your information
                    without your permission</p>
                </div>
        </div>
    </body>
    <script src="js/index.js"></script>
</html>